@{
    Layout = "_Layout";
}

<h1 class="text-center display-4 my-1">Galleria</h1>

<p id="fotos-loader">Sto caricando le foto...</p>

<p id="no-fotos">Nessuna foto presente :</p>

<div id="fotos-filter">
    <div class="form-field m-2">
        <label class="p-1"><h3>Cerca per titolo</h3></label>
        <input class="form-control w-25" placeholder="Titolo" />
    </div>
</div>

<div class="">
    <div class="">
        
        <div id="fotos-table" class=" ">

            <div id="fotos" class="row row-cols-1 row-cols-md-2"></div>
        </div>
    </div>
</div>



<h1 class="text-center">Inviaci un messaggio!</h1>

<div id="form-messaggi">
    <form id="mex-create-form">
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="Messaggio" class="form-label">Messaggio</label>
            <input type="text" class="form-control" id="Messaggio">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts
    {
    <script>

        loadFotos();
        initFilter();
        initCreateForm();
    </script>
}