@{
    Layout = "_Layout";
}

<h1 class="text-center">Galleria</h1>

<p id="fotos-loader">Sto caricando le foto...</p>

<p id="no-fotos">Nessuna foto presente :</p>

<div id="fotos-filter">
    <div class="form-field m-2">
        <label>Filtro ricerca foto</label>
        <input placeholder="Titolo" />
    </div>
</div>

<div class="">
    <div class="">
        
        <div id="fotos-table" class=" ">

            <div id="fotos" class="row row-cols-1 row-cols-md-2"></div>
        </div>
    </div>
</div>

<h1 class="text-center">Inviaci un messaggio!</h1>

<div id="form-messaggi">

</div>

@section Scripts
    {
    <script>

        loadFotos();
        initFilter();
        initCreateForm();
        renderForm();
    </script>
}